html, body {
  background: #ececec;
}

.app {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.guess {
  display: flex;
}

.guess .letter {
  border-radius: 5px;
  font-family: Futura, san-serif;
  border: 3px solid #474747;
  margin: 3px;
  padding: 3px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  font-weight:bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guess.inactive .letter {
  border: 3px solid #ababab;
}
.guess.invalid .letter {
  color: red;
}

.letter.C {
  color: #fff;
  background-color: rgb(22, 163, 74);
  border-color: rgb(22, 163, 74);
}

.letter.A {
  color: #474747;
  background-color: rgb(251, 191, 36);
  border-color: rgb(251, 191, 36);
}

.letter.I {
  color: #ececec;
  background-color: #474747;
  border-color: #474747;
}